
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="content">

      <h2><%= @game.player1.name %> attacked <%= @game.player2.name %> [HP = <%= @game.player2.hp %> ]</h2>
      <input class="attack" type="submit" value="Attack">


    </div>
  </body>
</html>
