
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="content">

      <form class="screen1"action="/names" method="post">
        <fieldset class="screen2">

          <h1><%= @loser.capitalize %> HAVE LOST</h1>

        </fieldset>
      </form>

    </div>
  </body>
</html>
