<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="./main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <h1 class="start">Enter player names to begin the battle!</h1><br>
    <div class="content">

      <form class="screen1"action="/names" method="post">
        <fieldset class="screen2">


          <img class="charatcters" src="./mario.png" alt="player1 charatcter"><br/>
          <label for="player1">player1 name:</label><br/>
          <input type="text" name="player1_name"><br/><br/>

          <img class="charatcters" src="./luigi.png" alt="player2 charatcter"><br/>
          <label for="player2">player2 name:</label><br/>
          <input type="text" name="player2_name"><br/>
          <input class="submit_players" type="submit" value="Submit Players">


      </fieldset>
      </form>
    </div>

  </body>

</html>
