<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="./main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      
      <main class="screen1">
        <fieldset class="screen2">
          <h1>Battle <span>MAKERS!</span></h1>
          <h2>Enter your names to play</h2>
          <form action="/names" method="post">
            <label for="player_1_name">
              Player 1:
              <input type="text" name="player_1">
            </label>
            <label for="player_2_name">
              Player 2:
              <input type="text" name="player_2">
            </label>
            <input class="attack" type="submit" value="Submit">
          </form>
          <img class="player1" src="player1.gif">
          <img class="player2" src="player2.1.gif">
        </fieldset>
      </main>

    </div>
  </body>

</html>
