<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="./main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <h1 class="start">Enter player names to begin the battle!</h1><br>
    <div class="content">

      <form class="screen1"action="/names" method="post">
        <fieldset class="screen2">

          <form action="/names" method="post">
            <label for="player_1_name">
              Player 1:
            <input type="text" name="player_1">

            <label for="player_2_name">
              Player 2:
            <input type="text" name="player_2">

            <input type="submit" value="Submit">
          </form>

      </fieldset>
      </form>
    </div>

  </body>

</html>
