<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="./main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <h1>Enter player names to begin the battle!</h1><br>

      <form action="/names" method="post">
        <fieldset>

        <legend>Enter Player name:</legend>
          <img class="charatcters" src="./mario.png" alt="player1 charatcter">
          <label for="player1">player 1 name</label><br/>
          <input type="text" name="player1"><br/><br/>

          <img class="charatcters" src="./luigi.png" alt="player2 charatcter">
          <label for="player2">player 2 name</label><br/>
          <input type="text" name="player2"><br/><br/>
          <input class="submit_players" type="submit" value="Submit Players">

      </fieldset>
      </form>
    </div>

  </body>

</html>
