<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="./main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <h1 class="start">Enter player names to begin the battle!</h1><br>
    <div class="content">

      <form class="screen1"action="/names" method="post">
        <fieldset class="screen2">

          <form action="/names" method="post">
            <p>Player 1<input type="text" name="player1_name"></p>
            <p>Player 2 <input type="text" name="player2_name"></p>
            <input type="submit" value="Ready to Rumble">
          </form>

      </fieldset>
      </form>
    </div>

  </body>

</html>
