<!DOCTYPE html>

<html lang="en">
  <head>

    <meta charset="utf-8">

    <title>Play Battle</title>
    <link href="/styles/main.css" type="text/css" rel="stylesheet">

  </head>
  <body>

    <div class="content">
      <main>
        <h2><%= @game.player1.name %> vs. <%= @game.player2.name %> [ HP = <%= @game.player2.hp %> ]</h2>
      </main>
      <aside>
        <a href="/attack"><button>Attack</button></a>
      </aside>


    </div>

  </body>
</html>
