

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
    <link href="main.css" type="text/css" rel="stylesheet">
  </head>

  <body>
    <div class="content" >
      <main class="screen1">
        <fieldset class="screen2">
          <h1>Battle <span>MAKERS</span></h1>
            <h3><%= "#{@game.player1.name} vs. #{@game.player2.name}" %></h3>
            <br>
            <%= "#{@game.player1.name} #{@game.player1.hp}/60hp" %>
            <br>
            <br>
            <%= "#{@game.player2.name} #{@game.player2.hp}/60hp" %>
            <br>
            <br>
            <form action="/attack" method="post">
              <label for="attacker_attack_1">
                Attack:
                <input type="submit" value="Fire Attack">
              </label>
            </form>
            <br>
          </fieldset>
        </main>
    </div>
  </body>
</html>
